*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
}
.container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
ul{ 
    padding: 5%;
}
li{
  padding: 10px;
  margin-bottom: 10px;
   box-shadow: 0px 0px 25px rgb(206, 202, 202);
   background: white;
   border-radius: 10px;
}
button{
  padding: 10px;
  background-color: #332380;
  width: 50px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.btn-container{
  display: flex;
  /* justify-content: space-between; */
  gap: 8px;
}





