Header{
    background-color: rgb(65, 155, 65);
    padding: 20px;
    text-align: center;
}
Header p{
    color: white;
    font-size: 24px;
    margin: 0;
     font-style: italic;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
Footer{
    background-color: rgb(65, 155, 65);
    padding: 50px;
    text-align: center;
    margin-top: 400px;
}
Footer a{
    margin: 0 10px;
}
Footer a:hover{
    color: darkblue;
}

 li{
    background-color: white;
    /* margin: 5px 0; */
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    font-weight: bold;
}
.skills{ 
  text-align: left;
  font-weight: bold;
  justify-items: left;
  padding: 30px
  

  
}
.skills h1{
    text-align: left;
    font-weight: bold
}


.location{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}